html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* DEIXAR LINKS SEM AZUL */
a {
    text-decoration: none;
    color: black;
}

/* div para englobar os botões do menu da pag principal*/
.botoes-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Div do titulo do header (Sistema de compras...)*/
.titulo {
    display: flex;
    background-color: #000080;
    padding: 0 1.5vw;
    height: 5vh; 
    justify-content: flex-start; 
    align-items: center;
    color: white;
}

/* título em si */
.sca {
    font-size: 1.5vw;
    margin: 0;
}

/* DIV PARA AS INFORMAÇÕES DO PERFIL */
.divperfil {
    display: flex;
    padding: 0 1.5vw;
    background-color: #c4d2ec;
    height: 15vh;
    line-height: 1.5;
    justify-content: flex-start;
    align-items: center;
}

.divperfil h2 {
    font-weight: normal;
    font-size: 1.2vw;
    margin: 0;
}

/* FORMATAÇÃO DO BOTÃO MENU*/
.btn-menu {
    border: 0.1em solid black;
    display: inline-block;
    border-radius: 3em;
    text-align: center;
    width: 35vw;
    padding: 2.5vh;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 1em 1em;
    background-color: white;
}

.btn-menu a {
    font-size: 1.5vw;
}

.btn-menu:hover {
    background-color: #000080;
}
.btn-menu:hover a{
    color: white;
}

/* DIV PARA CENTRALIZAR */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 75vh;
}

/* RESPONSIVIDADE */

@media (min-width: 768px) and (max-width: 991px) {
    .divperfil h2 {
        font-size: 1.5vw;
    }
    .sca {
        font-size: 1.5vw;
    }
    .btn-menu {
        width: 38vw;
    }
    .btn-menu a {
        font-size: 1.9vw;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .divperfil h2 {
        font-size: 2vw;
    }
    .sca {
        font-size: 2vw;
    }
    .btn-menu {
        width: 45vw;
    }
    .btn-menu a {
        font-size: 2.5vw;
    }
}
@media (min-width: 474px) and (max-width: 575px) {
    .divperfil h2 {
        font-size: 2.2vw;
    }
    .sca {
        font-size: 2.4vw;
    }
    .btn-menu {
        width: 50vw;
    }
    .btn-menu a {
        font-size: 2.8vw;
    }
}

@media (min-width: 372px) and (max-width: 473px) {
    .divperfil h2 {
        font-size: 2.5vw;
    }
    .sca {
        font-size: 2.8vw;
    }
    .btn-menu {
        width: 60vw;
    }
    .btn-menu a {
        font-size: 3vw;
    }
}
@media (max-width: 371px) {
    .divperfil h2 {
        font-size: 3vw;
    }
    .sca {
        font-size: 3vw;
    }
    .btn-menu {
        width: 80vw;
    }
    .btn-menu a {
        font-size: 4vw;
    }
}