<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <title>SCA - Sistema de Compras Acadêmicas</title>
    <link rel="shortcut icon" href="img/logoifc.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="titulo">        
            <h1 class="sca">SCA - Sistema de Compras Acadêmicas IFC Blumenau</h1>
            <span class="mobile">SCA - IFC Blumenau</span>
            <a href="../main/logout">SAIR</a>
        </div>
    </header>
    <main>
        <div class="center">
            <div class="div-form">
                <h3>ATUALIZAÇÃO DO CADASTRO</h3>
                <form action="">
                    <input type="text" name="username" id="username" class="campos" placeholder="Matrícula SIAPE*"><br>
                    <input type="text" name="nomecomplete" id="name" class="campos" placeholder="Nome Completo*"><br>                
                    <input type="text" name="nomesocial" id="nomesocial" class="campos" placeholder="Nome Social"><br>
                    <input type="text" name="unidade" id="uniserver" class="campos" placeholder="Unidade de Exercício (Setor)*"><br>               
                    <input type="text" name="email" id="email" class="campos" placeholder="E-mail*"><br>             
                    <input type="text" name="telefone" id="telefone" class="campos" placeholder="Telefone*"><br>
                    <input type="password" name="password" id="senha" class="campos" placeholder="Senha*"><br>
                    <br><br>
                    <div class="bnts-form">
                        <input type="submit" id="link" class="btn-submit" value="Atualizar">
                        <button class="btn-submit"><a href="#">Excluir Conta</a></button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>