<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <title>SCA - Sistema de Compras Acadêmicas</title>
    <link rel="shortcut icon" href="img/logoifc.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="titulo">        
            <h1 class="sca">SCA - Sistema de Compras Acadêmicas IFC Blumenau</h1>
            <span class="mobile">SCA - IFC Blumenau</span>
            <a href="../main/logout">SAIR</a>
        </div>
    </header>
    <main>
    {% if user['nivel_acesso'] == 1 %}

    <!-- Estilizar essa mensagem -->
    {% if msg %}
        <div>
            {{msg}}
        </div>
    {% endif %}
        <div class="center">
            <div class="div-form">
                <h3>DADOS DO CADASTRO</h3>
                <form action="../cadastro/check" method="post">
                    <input type="text" name="siape" id="username" class="campos" placeholder="Matrícula SIAPE*" required autofocus autocomplete="off" maxlength="10">
                    <br>
                    <input type="text" name="nome" id="name" class="campos" placeholder="Nome Completo*" required autocomplete="off" maxlength="150">
                    <br>
                    <input type="text" name="nomesocial" id="nomesocial" class="campos" placeholder="Nome Social" autocomplete="off" maxlength="150">
                    <br>
                    <input type="text" name="nome_substituto" id="nome_substituto" class="campos" placeholder="Nome do substituto" autocomplete="off" maxlength="150">
                    <br>
                    <input type="text" name="setor" id="uniserver" class="campos" placeholder="Unidade de Exercício (Setor)*" required autocomplete="off" maxlength="255">
                    <br>
                    <input type="email" name="email" id="email" class="campos" placeholder="E-mail*" required autocomplete="off" maxlength="255">
                    <br>
                    <input type="text" name="telefone" id="telefone" class="campos" placeholder="Telefone*" required autocomplete="off">
                    <br>
                    <input type="password" name="senha" id="senha" class="campos" minlength="8" placeholder="Senha*" required autocomplete="off" maxlength="32">
                    <br><br>
                    <div class="bnts-form">
                        <button type="button" class="btn-submit"><a id="link" href="../main/index">Voltar</a></button>
                        <input type="submit" id="link" class="btn-submit" value="Cadastrar">
                    </div>
                </form>
            </div>
    </main>
    {% endif %}
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    $('#siape').mask('9999999999');
    $('#telefone').mask('(00) 00000-0000');
    
</script>
</html>