<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <title>SCA - Sistema de Compras Acadêmicas</title>
    <link rel="shortcut icon" href="img/logoifc.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="titulo">        
            <h1 class="sca">SCA - Sistema de Compras Acadêmicas IFC Blumenau</h1>
            <span class="mobile">SCA - IFC Blumenau</span>
            <a href="../main/logout">SAIR</a>
        </div>
    </header>
    <main>
        <div class="center">
            <div class="div-form">
                <h3>DADOS CADASTRAIS</h3>
                <form action="localhost:8001/cadastro/check" method="post">
                    <input type="text" name="siape" id="username" class="campos" placeholder="Matrícula SIAPE" required autofocus>
                    <br>
                    <input type="text" name="nome" id="name" class="campos" placeholder="Nome Completo" required>
                    <br>
                    <input type="text" name="nomesocial" id="nomesocial" class="campos" placeholder="Nome Social">
                    <br>
                    <input type="text" name="setor" id="uniserver" class="campos" placeholder="Unidade de Exercício (Setor)" required>
                    <br>
                    <input type="email" name="email" id="email" class="campos" placeholder="E-mail" required>
                    <br>
                    <input type="email" name="email2" id="email" class="campos" placeholder="Repetir E-mail" required>
                    <br>
                    <input type="text" name="telefone" id="telefone" class="campos" placeholder="Telefone" required>
                    <br>
                    <input type="password" name="senha" id="senha" class="campos" minlength="8" placeholder="Senha" required>
                    <br>
                    <input type="password" name="senha2" id="senha" class="campos" minlength="8" placeholder="Repetir Senha" required>
                    <br><br>
                
                    <div class="bnts-form">
                        <input type="submit" id="link" class="btn-submit only" value="Cadastrar">
                    </div>
                </form>
            </div>
    </main>
</body>
</html>