<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user['nivel_acesso'] == 0 %}
    <h1>HISTORICO GERAL DO ADMINISTRADOR</h1>
    {% endif %}

    <table border="1px">
        <tr>
            <th>id</th>
            <th>siape requisitante</th>
            <th>valor estimado unidade</th>
            <th>Quantidade</th>
            <th>justificativa necessidade</th>
            <th>justificativa qtde</th>
            <th>prioridade</th>
            <th>data compra</th>
            <th>vinculacao</th>
            <th>almoxarifado</th>
            <th>ciencia</th>
            <th>atorizacao</th>
        </tr>
        {% for pedidos in pedidos%}
            <tr>
                <td>{{pedidos['id']}}</td>
                <td>{{pedidos['siape_requisitante']}}</td>
                <td>{{pedidos['valor_estimado_unidade']}}</td>
                <td>{{pedidos['qtde']}}</td>
                <td>{{pedidos['justificativa_necessidade']}}</td>
                <td>{{pedidos['justificativa_qtde']}}</td>
                <td>{{pedidos['prioridade']}}</td>
                <td>{{pedidos['data_compra']}}</td>
                <td>{{pedidos['vinculacao']}}</td>
                <td>{{pedidos['almoxarifado']}}</td>
                <td>{{pedidos['ciencia']}}</td>
                <td>{{pedidos['atorizacao']}}</td>
            </tr>
        {% endfor %}
    </table>
    

</body>
</html>