<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <title>SCA - Sistema de Compras Acadêmicas</title>
    <link rel="shortcut icon" href="img/logoifc.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="titulo">        
            <h1 class="sca">SCA - Sistema de Compras Acadêmicas IFC Blumenau</h1>
            <span class="mobile">SCA - IFC Blumenau</span>
            <a href="../main/logout">SAIR</a>
        </div>
    </header>
    <main>
    <!-- Estilizar essa mensagem -->
    {% if msg %}
        <div>
            {{msg}}
        </div>
    {% endif %}

    <div class="center">
        <div class="div-form">
            <h3>CADASTRAR ITEM</h3>
                <form action="../item/cadastrar" method="post">
                    <input type="text" name="sipac" id="sipac" class="campos" placeholder="SIPAC*" required autocomplete="off">
                    <br>
                    <select name="prod_categoria" id="prod_categoria" class="campos" placeholder="" required >
                        <!--Trazer todas as categorias cadastradas-->
                        <option value="0">Categoria*</option>
                        <option value="teste">teste</option>
                        <option value="Eletrônicos">Eletrônicos</option>
                        <option value="Móveis">Móveis</option>
                        <option value="Peças de computador">Peças de computador</option>
                        <option value="Segurança">Segurança</option>
                    </select>
                    <br>
                    <input type="text" name="catmat_catser" id="catmat_catser" class="campos" placeholder="CATMAT/CATSER*" autocomplete="off">
                    <br>
                    <textarea name="natureza_despesa" id="natureza_despesa" maxlength="255" style="height: 100px; resize: none;" class="campos" placeholder="Natureza da despesa"></textarea>
                    <br>
                    <input type="text" name="descricao" id="descricao" class="campos" placeholder="Descrição*" required autocomplete="off" maxlength="255">
                    <br>
                    <input type="text" name="item_pe" id="item_pe" class="campos" placeholder="Item PE*" required autocomplete="off" maxlength="255">
                    <br>
                    <input type="text" name="unidade_medida" id="unidade_medida" class="campos" placeholder="Unidade de medida*" required autocomplete="off">
                    <br><div class="centre">
                        <input type="submit" id="link" class="btn-pad btn-pad1" value="Cadastrar">
                        <a id="link" class="btn-pad btn-pad1" href="../main/index">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    $('#sipac').mask('9999999999');
    $('#catmat_catser').mask('9999999999');
    
</script>
</html>