<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="shortcut icon" href="img/logoifc.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <title>SCA - Sistema de Compras Acadêmicas</title>
</head>
<body>
    <header>
        <div class="titulo">
            <h1 class="sca">SCA - Sistema de Compras Acadêmicas IFC Blumenau</h1>
        </div>
    </header>
    <main>
        <section>
            <div class="center">
                <div>
                    <div class="form-login">
                        <h3>Entrar no Sistema</h3><br>
                        <form action="./login/check" method="post">
                            <input type="text" id="senha" name="siape" placeholder="Matrícula SIAPE" class="campos" required><br>
                            <input type="password" name="senha" placeholder="Senha" class="campos" required><br>
                            <input type="submit" value="Entrar" class="btn-login">    
                        </form>
                        {% if error != '' %}
                            <span>
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Tentativa inválida
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>