<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="shortcut icon" href="img/logoifc.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <title>SCA - Sistema de Compras Acadêmicas</title>
</head>
<body>
    <header>
        <div class="titulo">
            <h1 class="sca">SCA - Sistema de Compras Acadêmicas IFC Blumenau</h1>
        </div>
    </header>
    <div class="center">
        <div class="form-login">
            <h3>Entrar no Sistema</h3><br>
            <form action="../login/check" method="post">
                <input type="text" name="siape" id="username" class="campos" placeholder="Número SIAPE" required>
                <br>
                <input type="password" name="senha" class="campos" placeholder="Senha" required>
                <br>
                <input type="submit" value="Entrar" class="btn-submit">
            </form>

            {% if error != '' %}
                <span>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Tentativa inválida
                </span>
            {% endif %}
        </div>
    </div>
</body>
</html>