<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/pag_principal.css">
    <link rel="shortcut icon" href="img/logoifc.png" type="image/x-icon">
    <title>SCA - Sistema de Compras Acadêmicas</title>
</head>
<body>
    <header>
        <div class="titulo">        
            <h1 class="sca">SCA - Sistema de Compras Acadêmicas IFC Blumenau</h1>
            <a href="#">SAIR</a>
        </div>
        <div class="divperfil">
            <h2><b>NOME</b><br>
                SETOR XXXXXX <br>
                CAMPUS BLUMENAU</h2>
        </div>
    </header>
    <main>
        <div class="center">
            <div class="botoes-menu">
                <button class="btn-menu"><a href="#">FAZER PEDIDO</a></button><br>
                <button class="btn-menu"><a href="#">HISTÓRICO DE PEDIDOS</a></button><br>
                <button class="btn-menu"><a href="#">GERAR FORMULÁRIO DO CAMPUS</a></button><br>
            </div>
            <div class="botoes-menu">
                <button class="btn-menu"><a href="#">ATUALIZAR ITEM</a></button><br>
                <button class="btn-menu"><a href="cadastronovoadm.html">CRIAR CONTA DE ADMINISTRADOR</a></button><br>
                <button class="btn-menu"><a href="attcadastro.html">ATUALIZAR/EXCLUIR CONTA</a></button><br>
            </div>
        </div>
    </main>
</body>
</html>