<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <link rel="stylesheet" href="../assets/css/historico.css">
    <link rel="stylesheet" href="../assets/css/pedido.css">
    <link rel="shortcut icon" href="../assets/img/logoifc.png" type="image/x-icon">
    <title>SCA - Sistema de Compras Acadêmicas</title>
</head>
<body>
  <header>
    <div class="titulo">        
      <h1 class="sca">SCA - Sistema de Compras Acadêmicas IFC Blumenau</h1>
      <span class="mobile">SCA - IFC Blumenau</span>
      <a href="../main/logout">SAIR</a>
    </div>
  </header>
  <main>
    <div class="center margin-top-5rem">
      <h3>FAZER PEDIDO</h3>
    </div>
    <div class="div-tabela center">
      <form id="formulario" action="../pedido/gerarPedido" method="POST">
        <table>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 300px;">Categoria</th>
                <th scope="col" style="width: 300px;">Item</th>
                <th scope="col">SIPAC</th>
                <th scope="col">CATMAT/CATSER</th>
                <th scope="col" style="width: 300px;">Valor Estimado / Unidade</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody id="tabela-pedido">
              <tr>
                <th scope="row">1</th>
                <td>
                    <select name="" onchange="buscaItens(this)" id="categoria1" class="campos w100">
                        <option value="0"> --Selecione-- </option>
                        {% for registro in categorias %}
                          <option value="{{ registro['nome_categoria'] }}">{{ registro['nome_categoria'] }} </option>
                        {% endfor %}
                    </select>
                </td>
                <td id="item1"></td>
                <td id="sipac1">  ---</td>
                <td id="catmat_catser1">  ---</td>
                <td id="valor1">
                  <input name="valor1" type="number" class="campos w100">
                </td>
                <td id="deletar1">
                  <a href="#" onclick="deleteRow(1)">Deletar</a>
                </td>
              </tr>
        </table>
        <div class="center" style="width: auto;">
          <button type="button" class="btn-submit"><a style="text-decoration: none;" type="button" href="../main/index">Voltar</a></button>
          <button class="btn-submit plus-button" type="button" id="botaoAdd" onclick="addRow();"></button>
          <input class="btn-submit" type="submit" value="Gerar planilha">
        </div>
        
      </div>
    </form>
  </main>
    
  <script>
         function buscaItens(prElemento){
            var xhr = new XMLHttpRequest();
            let param = prElemento.value;
            let linha = prElemento.id[prElemento.id.length -1];
            let botaoAdd = document.getElementById('botaoAdd');
            botaoAdd.disabled = true; 

            xhr.open("GET", "../ajax/buscaItens.php?categoria=" + param , true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var resposta = JSON.parse(xhr.responseText);

                    let item = document.getElementById("item" + linha);

                    var select = document.createElement("select");

                    select.setAttribute("onchange", "buscaInfoItens(this)");
                    select.setAttribute("name", "descricao" + linha);
                    select.setAttribute("class", "campos w100");

                    let placeholder = document.createElement("option");
                    placeholder.value = "0";
                    placeholder.textContent = " --Selecione-- ";
                    placeholder.onchange = "buscaInfoItens(this)";
                    select.appendChild(placeholder);

                    resposta.forEach(element => {
                        // Cria e configura a opção
                        var option = document.createElement("option");
                        option.value = element["sipac"];
                        option.textContent = element["descricao"];
                        option.onchange = 'buscaInfoItens(this)';

                        // Adiciona a opção ao select
                        select.appendChild(option);
                    });

                    // Adiciona o select ao elemento item
                    item.appendChild(select);
                }
            };
            xhr.send();

            botaoAdd.disabled = false;
        }

        function buscaInfoItens(prElemento){
          const xhr = new XMLHttpRequest();
          let param = prElemento.value;
          let pai_id = prElemento.parentNode.id;
          let linha = pai_id[pai_id.length - 1];

          xhr.open("GET", "../ajax/buscaInfoItens.php?sipac=" + param , true);
          xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                  var resposta = JSON.parse(xhr.responseText);

                  let sipac = document.getElementById("sipac" + linha);
                  let catmat_catser = document.getElementById("catmat_catser" + linha);

                  resposta.forEach(element => {
                    sipac.innerHTML         = element["sipac"];
                    catmat_catser.innerHTML = element["catmat_catser"];
                  });

                }
            };
          xhr.send();
        }

        function addRow(){
          let tabela = document.getElementById("tabela-pedido");
          let linhas = tabela.rows.length;
          let novaLinha = linhas + 1;

          let novaLinhaElemento = document.createElement("tr");

          novaLinhaElemento.innerHTML =
          `
              <th scope="row">`+novaLinha+`</th>
              <td>
                  <select onchange="buscaItens(this)" id="categoria`+novaLinha+`" class="campos w100">
                  </select>
              </td>
              <td id="item`+novaLinha+`">

              </td>
              <td id="sipac`+novaLinha+`">
                ---
              </td>
              <td id="catmat_catser`+novaLinha+`">
                ---
              </td>
              <td id="valor`+novaLinha+`">
                <input type="number" name="valor`+novaLinha+`" class="campos w100">
              </td>
              <td id="deletar`+novaLinha+`">
                <a href="#" onClick="deleteRow(`+novaLinha+`)">Deletar</a>
              </td>
          `;
          tabela.appendChild(novaLinhaElemento);

          let options = Array.from(document.getElementById('categoria1').options);
          let newCategoria = document.getElementById('categoria' + novaLinha);

          for (let option of options) {
            // Clona a opção antes de adicioná-la ao novo elemento
            newCategoria.appendChild(option.cloneNode(true));
          }

        }

        function deleteRow(num){
          if (num != 1){
            const tabela = document.getElementById('tabela-pedido');
            const linha = tabela.querySelector("tr:nth-child("+num+")");
            linha.parentNode.removeChild(linha);
          }
        }
    </script>
</body>
</html>